<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Add Item</title>
</head>
<body>
<h1>Add an Item</h1>
<form th:action="@{/item/add}" th:object="${item}" method="post">
  <label>
    Name:
    <input type="text" name="name" required th:field="*{name}">
  </label>
  <br>
  <br>
  <label>
    Description:
    <input type="text" name="description" required th:field="*{description}">
  </label>
  <br>
  <br>
  <label>
    Price:
    <input type="number" step="any" min="0" name="price" required th:field="*{price}">
  </label>
  <br>
  <br>
  <input type="hidden" name="restaurantId"  th:value="${restaurant.resId}">
  <input type="submit" value="Submit">
</form>
<br>
<button type="button" onclick="history.back()">Go Back</button>
</body>
</html>