<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Select a restaurant</title>
</head>
<body>
<h1>Select a restaurant</h1>
<form action="/restaurant/admin" method="post">
  <label for="dropdown">Choose an option:</label>
  <select id="dropdown" name="selectedRestaurant">
    <option value="" disabled selected>Select an option</option>
    <option th:each="restaurant : ${restaurantList}" th:value="${restaurant.resId}" th:text="${restaurant.name}"></option>
  </select>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
<br>
<form th:action="@{/logout}" method="post">
  <button type="submit">Logout</button>
</form>
</body>
</html>